.enter-text {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 10;
  color: #7dc0d1;
}

.cards {
  margin: 0px auto;
  width: 100%;
}

.card-info {
  padding: 5px 15px;
}

.enter-text:hover {
  cursor: pointer;
}

.enter-user {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 10;
}