.app-header {
  height: 60px;
  background-color: #e4e2e1;
  width: 100%;
}

.hamburger {
  z-index: 10;
}

.elem-list:active, /* активная/посещенная ссылка */
.elem-list:hover,  /* при наведении */
.elem-list {
  text-decoration: none;
  color: #666;
  margin-left: 20px;
}