body {
  margin: 0;
  font-family: Open Sans;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


p { 
  font-size: 20px;
  margin: 0;
}

h1 {
  font-size: 40px;
  margin: 0;
}

h2 { 
  font-size: 30px;
  margin: 0;
}

.fheader {
  font-size: 40px;
  font-weight: bold;
}